@model SRV.ViewModels.User.IndexModel
@{
    Layout = "~/Views/Shared/_User.cshtml";
}
@section title {
    个人资料
}
@section upTitle {
    个人资料
}

@{
    int[] years = new int[40];
    for (int i = 0; i < years.Length; i++)
    {
        years[i] = 1980 + i;
    }
}


@using (Html.BeginForm("Index", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <span>头像：（* 仅限jpg/png/gif）</span>

    <img src="@Model.IconPath" />
    @Html.TextBoxFor(m => m.IconPath, new { type="hidden" })
    <input type="file" name="icon" multiple accept="image/*" />
    <br />
    <br />

    <label>性别：</label>
    <label>
        @Html.RadioButtonFor(m => m.Gender, true)
        男
    </label>
    <label>
        @Html.RadioButtonFor(m => m.Gender, false)
        女
    </label>

    <br />
    <br />
    <label>生日：</label>
    @Html.DropDownListFor(m => m.Year, new SelectList(years), "---")
    <span>年</span>

    <br />
    <br />
    <input type="submit" value="保存" />
}

@section aside {
    <h3 style="color: #31708f;"><span class="fa fa-question-circle "></span>说明</h3>
    <ol>
        <li>头像仅接受jpg/png/gif格式，大小不超过256KB</li>
        <li>头像图片的建议宽度为300像素左右，过宽或过窄都有可能失真。</li>
        <li>自我介绍的字数不要超过255字。</li>
    </ol>
}
