@model SRV.ViewModels.RegisterModel
@{
    Layout = "~/Views/Shared/_User.cshtml";
}

@section title {
    <span class="fa fa-sign-in " aria-hidden="true"></span>
    注册
}
@section upTitle {
    注册
}

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div style="padding: 0 10px 0 10px;  margin-bottom: 10px;  background-color: #ffffe0" class="yellow-highlight">

        <div class="text-right" style="padding-top:10px;">
            <a href="/"><span class="fa fa-question-circle"></span> 为什么需要邀请</a>
        </div>

        <div class="form-group">
            <label>邀请人：</label>（* 必填，<a href="/" class="text-info">没有邀请人</a>）
            <input type="text" name="InviterName" class="form-control" placeholder="他的用户名，模糊查询只能从头开始">
            <div></div>
            <span class="field-validation-valid"></span>
        </div>

        <div class="form-group">
            <label>邀请码：（* 必填）</label>
            <input type="text" name="InviteCode" class="form-control" placeholder="4位数字">
            <span class="field-validation-valid"></span>
        </div>

        <div></div>

    </div>




    <label>用户名：（* 必填）</label>
    @Html.ValidationMessageFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

    <label>密码：（* 必填）</label>
    @Html.ValidationMessageFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

    <label>验证密码：（* 必填）</label>
    @Html.ValidationMessageFor(m => m.PasswordSecond)
    @Html.PasswordFor(m => m.PasswordSecond, new { @class = "form-control" })

    <label>验证码：（* 必填）</label>
    <br />
    @*暂时搁置验证码部分*@
    <input type="text" name="VerificationCode" style="width:80px; height:34px;margin-bottom:10px" class="form-control" /><a href="/"></a>

    <div>@ViewData["result"]</div>
    <div class="submit">
        <input type="submit" value="提交" class="btn btn-primary">
        <input type="reset" value="重置" style="border:1px solid gray " class="btn btn-default">

        <span class="pull-right btn">
            <a href="/Log/On" style="margin-left:10px;">
                <span class="fa fa-sign-in"></span>
                登录
            </a>
        </span>

    </div>
}


@section aside {
    <h3 style="color: #31708f;"><span class="fa fa-question-circle "></span>说明</h3>
    <ol>
        <li>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</li>
        <li>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</li>
        <li>当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
        <li>公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</li>
        <li>赶快加入我们，赚取帮帮币吧！</li>
    </ol>
}
